.buttonClick {
  background-color: blueviolet;
  color: azure;
  font-weight: 700;
  height: 35px;
  margin-top: 20px;
  width: 70px;
}

.clicks-container {
  align-items: center;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 100%;
}

.clicks {  
  background-color: bisque;  
  border: 2px solid black;
  border-radius: 10%;
  box-sizing: border-box;
  font-size: larger;
  font-weight: 700;
  height: 80px;  
  padding-top: 25px;
  text-align: center;  
  width: 80px; 
}