.div {
  margin-bottom: 5px;
}

.inputAddress {
  margin-left: 5px;
}

.inputCity {
  margin-left: 23px;
}

.inputCpf {
  margin-left: 46px;
}

.inputEmail {
  margin-left: 35px;
}

.inputName {
  margin-left: 31px;
}

.inputState {
  margin-left: 23px;
}

.span {
  margin-left: 5px;
  color: red;
}

.title {
  text-align: center;
  background-color: gray;
}