.div {
  margin-bottom: 5px;
}

.inputCpf {
  margin-left: 20px;
}

.inputEmail {
  margin-left: 9px;
}

.inputName {
  margin-left: 5px;
}

.span {
  margin-left: 5px;
  color: red;
}

.title {
  text-align: center;
  background-color: gray;
}