.btn-form {
  margin-top: 10px;
  margin-right: 10px;  
}

.curriculo {
  margin-top: 20px;
}

.divForm {
  background-color: cornflowerblue;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

h1 {
  background-color: darkblue;
  text-align: center;
  color: white;
}
